# Archivos de sistema
.DS_Store
Thumbs.db

# Dependencias de Node.js - específico para pnpm
node_modules/
.pnpm-store/
.pnpm-debug.log
pnpm-workspace.yaml

# Archivos de construcción y salida de NextJS
frontend/.next/
frontend/out/
frontend/build/
frontend/.vercel
frontend/public/sitemap*.xml
frontend/public/robots.txt
frontend/.swc/

# Dependencias y construcción de Rust
contracts/target/
contracts/debug/
contracts/Cargo.lock
contracts/*.rs.bk
contracts/wasm-output/

# Archivos de construcción de Stylus
contracts/build/
*.bin
*.abi.json

# Archivos de entorno y secretos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
.vercel
.secret

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.classpath

# Archivos de logs
logs/
*.log

# Archivos de caché
.cache/
.eslintcache
.stylelintcache
.parcel-cache
.turbo

# Archivos de cobertura
coverage/
.nyc_output

# TypeScript
*.tsbuildinfo
frontend/dist/
frontend/tsconfig.tsbuildinfo

# next-pwa
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js

# Otros archivos generados o temporales
*.temp
temp/
tmp/
.tmp
